</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="js/category.js"></script>
<script type="text/javascript" src="js/sub_category.js"></script>
<script type="text/javascript" src="js/shelf.js"></script>
<script type="text/javascript" src="js/books.js"></script>
<script type="text/javascript" src="js/students.js"></script>

</html>